@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --macondoText: 'Macondo', cursive;
    --primaryColor: #698f3f;
    --secondaryColor: #fca311;
    --mainDark: #3a3e3b;
    --mainWhite: #fff;
    --mainGrey: #e5e5e5;
    --mainTransition: all 0.3s ease-in-out;
    --letterSpacing: 0.5rem;
}

body{
    font-family: 'roboto', sans-serif;
}

/* header site */

.header{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.466)),url('/images/main-bcg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    

}

/* banner site */



.banner{
    position: absolute;
    top: 40%;
    left: 30%;
}



.banner-title{
    font-size: 2.3rem;
    font-family: var(--macondoText);
    color: var(--secondaryColor);
}

.banner-sub{
    margin-top: 10px;
    font-size: 3.3rem;
    color: var(--mainWhite);
}

/* banner btn */

.banner-btn {
    position: relative;
    background-color: var(--mainGrey);
    padding: 0.8rem 2.3rem ;
    border-radius: 10px;
    left: 30%;
    top: 30px;
    text-decoration: none;
    font-size: 1.3rem; 
    color: var(--mainDark);
    box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.219);
    font-weight: bold;

}


.banner-btn:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.226);
    opacity: 0.7;
    outline: 0.2rem solid var(--mainGrey);
   transition:var(--mainTransition);

}


/* section middle */

.middle{
    position: relative;
    background-color: rgba(211, 211, 211, 0.76);
    width: 98.77vw;
    height: 70vh;
    display: flex;
    
}


.first{
    position: relative;
    background-color: lightgray;
    width: 23vw;
    height: 60vh;
    left: 15px;
    top: 1%;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);

}


.second{
    position: relative;
    background-color: lightgray;
    width: 23vw;
    height: 60vh;
    left: 30px;
    top: 1%;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);

}




.third{
    position: relative;
    background-color: lightgray;
    width: 23vw;
    height: 60vh;
    left: 45px;
    top: 1%;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);   
 
}

.fourth{
    position: relative;
    background-color: lightgray;
    width: 23vw;
    height: 60vh;
    left: 60px;
    top: 1%;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);

}



/* section middle hover area */

.first:hover{
    background-color: darkgray;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0);
     transition: var(--mainTransition);
}

.second:hover{
    background-color: darkgray;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0);
    transition: var(--mainTransition);
}


.third:hover{
    background-color: darkgray;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0);
    transition: var(--mainTransition);
}


.fourth:hover{
    background-color: darkgray;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0);
    transition: var(--mainTransition);
}





